.about {
    overflow: auto;
    min-height: 100vh;
    background-color: var(--third-bg-color);
}

.aboutTitle {
    color: var(--fith-bg-color);
    font-weight: 500;
}

.aboutParagraph {
    color: var(--main-bg-color);
}

.aboutSkills {
    display: flex;
    justify-content: left;
    color: var( --main-bg-color);
    font-weight: 700;
    padding-left: 3.5em;
}

.aboutPoint {
   margin: 1.5em;
   font-size: 1.5em;
}

.aboutPoint:hover{
    color: var(--fith-bg-color);
}