.about {
    overflow: auto;
    min-height: 100vh;
    background-color: var(--third-bg-color);
}

.aboutTitle {
    margin-top: 8em;
    color: #333e48;
    font-weight: 500;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.picture {
    height: 20em;
    box-shadow: 10px 10px var(--second-bg-color);
}

.aboutImage{
    margin: 2em;
    margin-left: 2em;
}

.aboutParagraph {
    color: #f7e9de;
    margin-right: 2em;
}


.aboutSkills {
    font-weight: 700;
    padding-left: 3.5em;
}


.aboutPoint {
   margin: 1.5em;
   font-size: 1.5em;
   text-align: left;
   color:#f7e9de;
}

.aboutPoint:hover{
    color: var(--fith-bg-color);
}


@media only screen and (max-width: 1000px) {
    .aboutWrapper{
        flex-direction: column-reverse;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
    .aboutParagraph{
        margin: 0;
    }
    .aboutTitle {
        align-items: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .picture{
        height: 15em;
    }
  }  