.projects {
    overflow: auto;
    min-height: 100vh;
    background-color: var(--fourth-bg-color);
}

.projectTitle {
    margin-top: 6em;
    color: var(--darker-fith-bg-color);
}

.projectShape {
  background: var(--main-bg-color);
  border-radius: 0 100% 0 0;
  width: 49.5%;
  height: 50px;
  margin: 0;
  padding: 0em;
  margin-top: 9em;
  display: flex;
  margin-bottom: -0.3em;
}