.projects {
    overflow: auto;
    min-height: 100vh;
    background-color: var(--fourth-bg-color);
}

.projectTitle {
    margin-top: 8em;
    color: var(--darker-fith-bg-color);
}

.projectShape {
  background: var(--main-bg-color);
  border-radius: 0 100% 0 0;
  width: 50%;
  height: 50px;
}