.NavBar {
    background-color: var(--darker-fith-bg-color);
    position: sticky;
    color: var(--second-bg-color);
    font-size: 1.2em;
    margin: 0em;
    max-height: 3em;
    display: flex;
    padding-bottom: 0.5em;
    padding: 1em;
}

.NavButton {
    padding: 0.4em;
    text-decoration: none;
}

.NavButton:hover {
    color: var(--third-bg-color);
}

.NavButton:active {
    color: var(--third-bg-color); 
}

a:link {
    text-decoration: none;
    color:var(--second-bg-color);
}

a:visited {
    text-decoration: none;
    color:var(--second-bg-color);
}

.pageButtons{
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 1em;
    padding: 1em;
}

.logo {
    height: 2.5em;
    width: 2.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    align-items: center;
}


