@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');

.homepage {
    /* overflow: auto; */
    min-height: 100vh;
    background-color: var(--fith-bg-color);
}

.namesection {
    text-align: start;
    justify-content: left;
    padding: 5em;
    padding-top: 15em;
}

.intro {
    color: #e7ad99; 
    font-size: 2em;
    font-weight: 500;
    margin: 0em;
}

.nameTitle {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #e4887c;
    font-size: 6em;
    font-weight: 400;
    margin: 0em;
}

.about {
    font-size: 1.5em;
    color: #ecc8af;
}

.gitButton {
    color: #ecc8af;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: #e7ac9900;
    border: 2px solid #ecc8af;
    
}

.gitButton:hover {
    background-color: #ecc8af83
}

.cvIcon{
    height: 2em;
    width: 3em;
}

.logo {
    height: 2em;
    width: 2em;
}

.socialButton {
    color: #e7ad99;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: #e7ac9900;
    border: 2px solid #e7ad99;
    
}

.socialButton:hover {
    background-color: #e7ac997c; 
}

.socialButtons {
    display: flex;
    justify-content: space-between;
    width: 6em;
}

.homeShape {
    margin: 0;
    padding: 0em;
    margin-top: 9em;
    display: flex;
    margin-bottom: 0em;
    background: var(--third-bg-color);
    width: 100%;
    height: 75px;
    border-radius: 100% 0 0 0;
}