.contactPage {
    overflow: auto;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

.contactShape {
  position: relative;
  float: right;
  background: var(--fourth-bg-color);
  width: 50%;
  height: 50px;
  border-radius: 0 0 0 100%;
}

.contactTitle {
    margin-top: 8em;
    color: #a56055;
}

.contactParagraph {
    color: var(--fith-bg-color);
}

.email {
    color:  #ffe9d9;
    line-height: 0em;
    font-weight: 600;
    letter-spacing: 0.1em;
    background-color: var(--third-bg-color);
    box-shadow: 10px 10px var(--second-bg-color);
    width: 12.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: 1.5em;
    padding: 1.5em;
    margin-left: 3em;
    margin-top: 2em;
}

.email:hover{
    box-shadow: 10px 10px var(--fith-bg-color);
}

@media only screen and (max-width: 700px) {
    .contactTitle{
        margin-top: 0em;
    }
    .email {
        font-size: 1.3em;
        width: 11.5em;
        margin-left: 1em;
    }
  }